body{
    margin:0%;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    font-family: cursive;
    background-color: slateblue;

}
.container{
    background-color: white;
    width:300px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,.5);
    overflow: hidden;
}
.month{
    margin: 0%;
    background-color: orangered;
    font-weight: bold;
    font-size: 30px;
    padding:10px;
    color: white;

}
.day{
    color:darkgray;
    font-size: 20px;
}
.date{
    font-size: 80px;
    font-weight: bold;
    margin:0%;
}
.year{
    margin: 20px 0;
    font-size: 20px;
    color: darkgray;
    
    
}